/* LOgin page styles */
body{
    background: linear-gradient(to right, #5f80b1, #c2c7c7);
    background-size: cover;
}
.one{
    height: auto;
        width: auto;
        background-size: cover;
        padding: 100px 150px 100px 150px;
        margin: auto; 
}
.second{
    background-image: url(/images/dribble.png);
        margin-left: 30%;
        height: 450px;
        width:400px;
        border-radius: 10px; 
}
h1{
   text-align: center; 
   padding: 80px;
   color: rgb(2, 2, 2);
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 50%;
    background-color: #1f5ad8;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  div.container {
    border-radius: 5px;
    background-color: #e2e5eb;
    padding: 20px;
  }

  /* the sign up page */
 .container img{
   width: 400px;
  margin-left: -5.3%;
  margin-top: -5.5%;
  border-radius: 2%;
  margin-bottom: 5%;
 }
 #quote{
 margin-top: -45%;
 text-align: center;
 color: rgb(30, 36, 95);
 font-size: larger;
 font-weight: bolder;
 }
span{
  color: rgb(248, 247, 247);
}
 form{
   margin-top: 40%;
 }