footer{
    background-color: rgb(170, 185, 185); 
    margin-top: 3%;
}
.foot{
    display: flex;
    gap: 10em;
    background-color: rgb(170, 185, 185);
    color: rgb(229, 8, 236);
    margin-top: 1%;
}
.fservice{
    margin-left: 25%;
    padding-bottom: 2%;
    background-color: rgb(170, 185, 185);
}
h6{
    font-size: 110%;
    background-color: rgb(170, 185, 185);
}
#topi{
    font-weight: bolder;
    background-color: rgb(170, 185, 185);
}
.AboutUs{
    background-color: rgb(170, 185, 185);
}
.FindUs{
    background-color: rgb(170, 185, 185);
}
footer li{
    background-color: rgb(170, 185, 185);
}
.columm2{
    margin-top: 5%;
}
.desc{
    gap: 15em;
}
